

/* body{
  
    max-width: 100svw;
    height: 100svh;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}


form input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

form button{
    padding: 10px;
    border-radius: 10px;
    border: none;
   background-color: rgb(77, 126, 174);
    color: aliceblue;
    cursor: pointer;
}


.categories{
    padding: 10px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.category{
    padding: 5px 7px;
    background-color: rgb(11, 10, 10);
    color: aliceblue;
    border-radius: 10px;
}

.category:hover{
    box-shadow: 1px 1px 10px rgb(77, 126, 174);
    cursor: pointer;

    transform: scale(0.95);
}

.products{
    padding: 10px;
    background-color: lightblue;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.product{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product button{
padding: 9px 20px;
border-radius: 10px;
border: none;
background-color: rgb(77, 126, 174);
color: white;
cursor: pointer;
}

.product button:hover{
    background-color: rgb(0, 0, 0);
}

.price span{
    padding: 3px 5px;
    background-color: rgba(127, 172, 227, 0.671);
    border-radius: 10px;
}

@media (max-width: 600px) {
   header{
    flex-direction: column;
   }

} */


body {
  margin: 0;
  background:  #5a9bd4;
}

/* الهيدر */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #222;
  color: white;
}

form input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #1e8fff75;
  color: white;
  cursor: pointer;
}

form button:hover {
  background: #2a4e75;
}

/* الكاتيجوريز */
.categories {
  padding: 15px;
  background: #1e8fff75;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category {
  padding: 6px 12px;
  background: #222;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.category:hover {
  box-shadow: 1px 1px 10px  #5a9bd4;
  transform: scale(0.95);
}

/* الوصفات */
.recipes {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.recipe {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.recipe img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.recipe h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}

.recipe ul, .recipe ol {
  margin: 10px 0;
  padding-left: 20px;
}

.recipe .time {
  font-weight: bold;
  color: #5a9bd4;
  margin-top: 10px;
}



