body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("violet sky 1.png")
 center/cover no-repeat fixed;
  color: #fff;
  text-align: center;
}
 


h1 {
  margin: 20px 0;
  font-size: 36px;
}


.card {
    background-color: #584EC7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* ظل خفيف */
}


.photo {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.data {
  flex: 1;
  text-align: left;
  margin: 0 10px;
}
.data h4 {
  margin: 0;
}
.data p {
  color: #fde8e8 ;
  font-size: 10px;
}


.mike {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.invite {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
  font-size: 18px;
}


.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.btn-round {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 
}
.btn-round:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.3);
}


.btn-red {
  background: #f54430;
}
.btn-red:hover {
  background: #ff5c4b;
}
