* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #1e8fff75;
  padding: 20px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.search-box{
  display: flex;
  gap: 10px;
}
.search-box input{
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 200px;
}
.search-box button{
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background: #1e90ff;
  color: white;
  cursor: pointer;
}
#products-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.card{
  background: white;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img{
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card h2{
  font-size: 18px;
  margin-bottom: 10px;
}
.card p{
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}
.price{
  font-weight: bold;
  margin-bottom: 10px;
}
button.add{
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background: #86b6e6;
  color: white;
  cursor: pointer;
}
button.add:hover{
    background: #1e90ff;
    transition: 0.4s;
} 

