/* h1{
    background-color: yellow;
    width: 300px;
  transition: all 2s linear 1s , background-color 2s ease-out;
} */
h1:hover{
    background-color: rgb(28, 28, 189);
     width: 300px
}

/* .test{
    background-color: rgb(40, 127, 204);
    width: 100px;
    height: 100px;
    border-radius: 120px;
    transition: background-color 2s ease-in-out;
    animation-name: move;
    animation-duration: 3s; */
    /* animation-iteration-count:infinite; */
    /* animation-timing-function: 2s;
    animation-direction: alternate-reverse;
    animation-fill-mode:backwards ; */
    /* يبدأ بالبداية للانيمشن */
    /* forward  يبدأ بالنهاية  */
    /* both يطبق البداية والنهاية */
    /* animation-play-state: paused; */
/* } */

/* .test:hover{
    /* transform: translateY(20px);
    transform: scale(0.9);
    transform: rotate(45deg);
    transform: skew(20deg); */
    /* transform:  rotate(30deg) scale(0.4); */
/* } */ 

/* @keyframes spinner{
    from{
         transform: scale(0.3);
         opacity: 0.7;
    }

    to{
         transform: scale(1.1);
    }
} */

/* @keyframes move{
   0%{
    background-color: red;
    transform: translate(0px,0px);
   }
   25%{
    background-color: aqua;
    transform: translate(500px , 500px);
   }
   50%{
    background-color: orange;
     transform: translate(0px , 500px);
   }
   75%{
    background-color: blue;
     transform: translate(500px , 500px);
   }
   100%{
    background-color: green;
     transform: translate(250px , 250px);
   }
} */

.test{
    background-color: rgb(40, 127, 204);
    width: 100px;
    height: 100px;
    border-radius: 120px;
    transition: background-color 2s ease-in-out;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards; 
    /* forwards = بعد الانيمشن يفضل في آخر حالة */
   /* backward يبدأ بالبداية للانيمشن */
    /* both يطبق البداية والنهاية */
}





/* @keyframes move {
   0% {
    background-color: red;
    transform: translate(0px,0px);
   }
   25% {
    background-color: aqua;
    transform: translate(500px , 0px);
   }
   50% {
    background-color: orange;
    transform: translate(500px , 500px); 
   }
   75% {
    background-color: blue;
    transform: translate(0px , 500px);
   }
   100% {
    background-color: green;
    transform: translate(250px , 250px); 
   }
} */

/* 
/* العنوان بتأثير الكتابة */
/* h2 {
  font-size: 30px;
  margin: 20px;
  white-space: nowrap;           
  overflow: hidden;             
  border-right: 3px solid black; 
  width: 22ch;
   animation: cursor 0.5s step-end infinite;                   
  animation: typing 4s steps(22) infinite alternate;
   
}


@keyframes typing {
  from {
     width: 0;
     }
  to {
     width: 12em;
     }
}


@keyframes cursor {
  from { border-color: black; }
  to { border-color: transparent; }
}


.eyes {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.white {
  background-color: #f1f1f1;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  height: 50px;
  width: 50px;
  background-color: purple;
  border-radius: 50%;
  animation: eye 3s infinite;
}

/* حركة البؤبؤ */
/* @keyframes eye {
  0%   {
     transform: translate(0, 30px); background-color: red; 
    }
  50%  { 
    transform: translate(40px, 30px); background-color: blue; 
}
  100% {
     transform: translate(0, 30px); background-color: green; 
    } */
/* } */ 

/* عنوان بيتكتب بحركة الكتابة */
h2 {
  font-size: 30px;
  margin: 20px;
  position: relative;
  display: inline-block;
}

h2::before {
  content: "WoW!!! now i can see you.";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;                         
  border-right: 3px solid black;    
  overflow: hidden;                 
  white-space: nowrap;             
  animation: typing 4s steps(26) infinite alternate,
             cursor 0.6s step-end infinite;
}


@keyframes typing {
  from {
     width: 0;
     }
  to   { 
    width: 350px;
   } 
}


@keyframes cursor {
  from {
     border-color: black;
     }
  to   {
     border-color: transparent;
     }
}


.eyes {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.wh {
  background-color: #f1f1f1;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bl {
  height: 50px;
  width: 50px;
  background-color: purple;
  border-radius: 50%;
  animation: eye 3s infinite;
}


@keyframes eye {
  0%   {
     transform: translate(0, 30px); background-color: red;
     }
  50%  {
     transform: translate(40px, 30px); background-color: blue;
     }
  100% {
     transform: translate(0, 30px); background-color: green; 
    }
}

