:root{
    --mainColor:#433DA4;
    --secondBG:#584EC7;
    --header-BG:#2E4A69;
    --write-msg:#1B589D;
    --left-msg:#6994C5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    font-family: irish-grover;
    background-color: #0D114C;
    color: white;}
.container{
    max-width: 768px;
    height: 100vh;
    padding: 0 !important;
}

header{
    background-color: var(--header-BG);
    border-radius: 0 0 15px 15px ;
    img{
        width: 32px;height: 32px;
    }
}

.msgs{

    .msg{
        padding:0.25em  0.8em;
        border-radius: 50px;

        span{
            font-size: 9px;
            margin-left:  auto;

            i{
                font-size: 8px;
            }
        }
    }

    .right{
        margin-left: auto;
        background-color: var(--write-msg);
    }
    .left{
        margin-right: auto;
        background-color: var(--left-msg);
    }
    img{
        border-radius:50px ;
    }
}

footer{
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--header-BG);
    padding: 0.7em;
    border-radius: 2em;
    max-width: 768px;

    input{
        background-color: transparent;
        border: none;
        color: white;
    }

    .send{
        transform: rotateZ(-135deg);
    }
}

