
*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: brown;
}

.items{
    /* width: 95%;
    margin: auto;
    margin: 20px; */
    height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 30%;
    /*background-color: blueviolet;
    */border: 5px solid black;
    /*transition: transform 1s;
    */position: relative;
    overflow: hidden;
}

.item img{
    width: 100%;
    height: 100%;
    transition: all 1s 1s;
    -webkit-transition: all 1s 1s;
    -moz-transition: all 1s 1s;
    -ms-transition: all 1s 1s;
    -o-transition: all 1s 1s;
}

.item:hover img{
    transform: scale(1.5,1.1);
    -webkit-transform: scale(1.5,1.1);
    -moz-transform: scale(1.5,1.1);
    -ms-transform: scale(1.5,1.1);
    -o-transform: scale(1.5,1.1);
}

img{
    display: block;
}

.caption{
    background-color: rgba(39, 39, 46, 0.689);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    /* transform: translatey(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%); */
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    opacity: 0;
}
h2{
    padding: 20px;
    background-color: rgba(39, 39, 46, 0.804);
    color: black;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.item:hover .caption{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 1;
}

.caption h2{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.caption p{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.item:hover h2{
    transition: all 1s .5s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transition: all 1s .5s;
    -moz-transition: all 1s .5s;
    -ms-transition: all 1s .5s;
    -o-transition: all 1s .5s;
}

.item:hover p{
    transition: all 1s 1s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transition: all 1s 1s;
    -moz-transition: all 1s 1s;
    -ms-transition: all 1s 1s;
    -o-transition: all 1s 1s;
}

/* .item:hover img{

} */