
*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

/* body{
    background-color: brown;
} */

.items{
    /* width: 95%;
    margin: auto;
    margin: 20px; */
    height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    width: 20%;
    /*background-color: blueviolet;
    */border: 2px solid rgb(26, 24, 24);
    /*transition: transform 1s;
    */position: relative;
    overflow: hidden;
}

.item img{
    width: 100%;
    height: 100%;
}

img{
    display: block;
}

.caption{
    background-color: rgba(39, 39, 46, 0.689);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    transform: translatey(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    opacity: 0;
}
h2{
    padding: 20px;
    background-color: rgba(39, 39, 46, 0.804);
    color: black;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.item:hover .caption{
    transform: translatey(0);
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    opacity: 1;
}

@media screen and(min-width:1200px){
    .items{
        display: flex;
        flex-flow: wrap;
    }
    .item{
        width: 25%;
    }
}

@media screen and(min-width:1199px) and(min-width:920px) {
    .items{
        display: flex;
        flex-flow: wrap;
    }
    .item{
        width: 30%;
    }
}

@media screen and(min-width:991px) and(min-width:768px){
    .items{
        display: flex;
        flex-flow: wrap;
    }
    .item{
        width: 50%;
    }
}

@media screen and(min-width:767px) and(min-width:600px){
    .items{
        width: 100%;
    }
}

@media screen and(min-width:599px){
    .items{
        width: 100%;
    }
}