/* body{
    background-color: aqua;
    background-image: linear-gradient(to top right, red 0% 50%,blue );
} */
/* p{
    
    background-image: -o-linear-gradient(to  right, red 0% 50%,blue); */
    /*   هم  الصورة نفسها بتتحرك معاك لكن فيكسد* /
    /* contain يحافظ على الجوده  cover بيغطي كله حتى لو هتبكسل*/
/* } */
/* h1 {
    font-size: 300px; 
    font-family:Arial, sans-serif; 
}

.blue {
    color: #4285F4; 
}

.red {
    color: #EA4335; 
}

.yellow {
    color: #FBBC05; 
}

.green {
    color: #34A853; 
} */

/* body {
  background: #ffffff;
  font-family: Arial, sans-serif;
}


.page {
  width: 80%;
  margin: 30px auto;
}


.title-box {
  background: #f1ffe6;
  border: 6px solid #c51132;
  border-bottom-style: dashed;
  padding: 20px;
  margin-bottom: 30px;
}

.title-box h1 {
  margin: 0;
  font-size: 36px;
}


.msg {
  display: inline-block;
  max-width: 70%;
  padding: 12px 16px;
  border: 2px solid #d9d9d9;
  border-radius: 12px;
  margin: 10px 0;
}


.sent {
  background: #e7d9ff;
  border-color: #c5a8ff;
  color: #111;
}


.reply {
  background: #2f560f;
  border-color: #147dbb;
  color: #ffffff;
  display: block;          
  font-size: 12px;         
  padding: 10px 20px;      
  width: fit-content;      
  margin: 20px auto 0 auto;
  border-radius: 10px;
} */


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("Back\ ground.jpeg");
  background-repeat: no-repeat;
  background-position: right center ;
}


.header {
  position: relative;
  padding: 15px;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}


/* .menu {
  margin-top: 10px;
}

.menu p {
  margin: 5px 0;
  font-size: 16px;
} */

.menu {
  display: flex;               
  justify-content: center;     
  align-items: center;         
  gap: 20px;                   
  margin-top: 10px;
}

.menu p {
  margin: 0;
  font-size: 16px;
}



.auth {
  position: absolute;
  right: 20px;
  top: 15px;
}

.auth .signin {
  background: white;
  border: 1px solid #999;
  padding: 5px 12px;
  border-radius: 15px;
}

.auth .register {
  background: #3366ff;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 15px;
}


.main {
  margin: 60px 30px;
  max-width: 500px;
}

.main h1 {
  font-size: 40px;
  font-weight: bold;
}

.main p {
  font-size: 15px;
  line-height: 1.5;
}


.highlight {
  color: rgba(0, 0, 255, 0.57);
  font-weight: bold;
  background-color: #3366ff4b;
}


.buttons {
  margin-top: 20px;
}

.buttons .blue {
  background: #3366ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 20px;
}

.buttons .white {
  background: white;
  border: 1px solid #999;
  padding: 10px 20px;
  border-radius: 20px;
}
