.check{
    text-decoration: line-through;
}

table, td,th{
    padding: 10px;
    border: 1px solid black;
    background-color: aliceblue;
}

table{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

form input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

form button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(80, 150, 230);
    background-color: rgb(80, 150, 230);
    cursor: pointer;
    display: block;
    width: 100px;
}

.del-btn{
    background-color: red;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid red;
    color: white;
}

.check-btn{
    background-color: green;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid green;
    color: white;
}