/* body{
    background-color: blue;
1-spacing (margin,padding)
2-floating
3-media query , box-sizing
4-postion

} */
 :root{
   --main-color:green;
   --main-fonts: 20px;
   --sevcond-color:blue;
 }
 body{
   scroll-behavior: smooth;
 }
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .meals{
    /* background-color: tomato; */
    margin: 30px auto;
    /* width: calc(4/100%); */
    width: 80%;
 }
 .meal{
    /* background-color: blueviolet; */
    width: 25%;
    text-align: center;
    float: left;
 }
 .meal img{
    width: 80%;
 }
 .clr{
    clear: both;
 }
.parent{
    width: 500px;
   height: 500px;
   background-color: green;
   position: relative;
}

 .test{
   width: 300px;
   height: 300px;
   background-color: blue;
   /* margin-top: 800px;
   margin-left: 880px; */
/* position: absolute;
bottom: 0;
right: 0; */
/* position: relative; */

 }
 .chiled{
   width: 200px;
   height: 100px;
   background-color: tomato;
   position: relative;
   left: 10px;
   top:  10px;
 }

 .itemF{
   width: 30px;
   height: 30px;
   background-color: brown;
   position: fixed;
   right: 5px;
   top: 50%;
 }

 .caption{
   background-color: blue;
   padding: 10px;
   position: sticky;
   top: 0;
 }


.one{
   width: 300px;
   height: 300px;
   background-color: tomato;
   position: absolute;
   top: 100px;
   left: 100px;
     z-index: 2;
}

.two{
   width: 300px;
   height: 300px;
   background-color: blue;
     position: absolute;
    top: 120px;
   left: 120px;
   z-index: 1;
}

.three{
   width: 300px;
   height: 300px;
   background-color: brown;
     position: absolute;
    top: 140px;
   left: 140px;
     z-index: 0;
}

.item{
   width: 300px;
   height: 300px;
   background-color: rgba(200, 50, 10 ,1) ;
   /* background-color: blueviolet; */
   /* transition-property: background-color,border-radius;
   transition-duration: 2s;
   transition-delay: 1s;
   transition-timing-function: cubic-bezier(.44,.82,.75,.26); */
   /* transition: all 1s 1s ; */
   /* display: none; */
/* visibility: hidden; */
/* opacity: 0.2; */
overflow: auto;
}
.item{
   background-color: red ;
}

/* .item:hover{
   background-color: red;
   border-radius: 50%;
} */


.item2{
   width: 200px;
   height: 150px;
   background-color: turquoise;
   margin-top: 50px;
}

ul{
   list-style-type: none;
   background-color: var(--main-colo ,var(--sevcond-colo , green));
   font-size: var(--main-fonts);
   overflow: auto;
}
ul li{
   float: left;
   padding: 15px;
}

#home{
   background-color: cadetblue;
   height: 500px;
}

#about{
   background-color: blue;
   height: 500px;
}


#content{
   background-color: blueviolet;
   height: 500px;
}













 @media screen and (min-width:1200px) {
    .meal{
        width: 25%;
    }

 }

  @media screen and (max-width:1199px) and (min-width:992px) {
    .meal{
        width: 30%;
    }

 }
 


  @media screen and (max-width:991px) and (min-width:768px) {
    .meal{
        width: 50%;
    }

 }
 
  @media screen and (max-width:767px) and (min-width:600px) {
    .meal{
        width: 100%;
    }

 } 

  @media screen and (max-width:599px) {
    .meal{
        width: 100%;
    }

 } 
