body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     text-align: center;
}

form{
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(84, 5, 168);
    background-color: rgb(84, 5, 168);
    border-radius: 10px;
}

form input{
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid rgb(84, 5, 168);
    border-radius: 10px;
    color: black;
}

form button{
    padding: 10px 20px;
    margin: 10px;
    color:rgb(84, 5, 168);
    border: 1px solid rgb(84, 5, 168);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    margin: 10px;
    background-color:rgb(84, 5, 168);
    border: 1px solid rgb(84, 5, 168);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(84, 5, 168);
}

section{
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(84, 5, 168);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


.todos .todo{
    padding: 10px 30px;
    margin: 10px;
    border: 1px solid rgb(84, 5, 168);
    background-color: rgba(144, 99, 240, 0.326);
    border-radius: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

i{
    font-size: 25px;
}

.p{
    color:purple
}

.g{
    color: gray;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.valid{
    color:green;
    font-weight: bold;
}

.invalid{
    color:rgb(189, 73, 73);
    font-weight: bold;
    text-shadow: 1px 1px 30px black;
}
