h2::after{
content:  '';
background-color: blue;
width: 35%;
height: 4px;
position: absolute;
top: 50%;
right: 5px;
}

h2::before{
content:  '';
background-color: blue;
width: 35%;
height: 4px;
position: absolute;
top: 50%;
left: 5px;
}
h2{
    text-align: center;
    position: relative;
}


h3{
text-align: center;
border: teal 6px solid;
width: 15%;
padding: 25px;
position: relative;
}
h3::after{
    content: "";
    background-color: #fff;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 90%;
    left: 15px;
}

h3::before{
    content: "";
    background-color: teal;
    width: 10px;
    height: 45px;
    position: absolute;
    top: 90%;
    left: 25px;
    z-index: 9999;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
    border-bottom: 6px solid black;
    border-radius: 0;
    color: black;
}
.nav-pills .nav-link{
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}