/* body{
    background-color: aqua;
} */
*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
.meals{
    /* background-color: blue; */
    width: 90%;
    margin: auto;
   
    /* text-align: center; */
}

.item{
    background-color: brown;
    width: 200px;
    height: 100px;
    color: wheat;
    padding: 20px;
}
.item p{
    background-color: blueviolet;
}
.meal{
    /* background-color: tomato; */
    width: 25%;
    text-align: center;
    float: left;
    /* margin: 1px; */
    /* border: 1px solid red; */
     padding: 5px;
    
}
.inner{
    background-color: blue;
}
.meal img{
    width: 80%;
    border-radius: 50%;
}
.clr{
    clear: both;
}
.meal p{
      font-family: "Special Gothic Expanded One", sans-serif;

}

header{
    background-image: url(../images/shutterstock_277750193.jpg);

    height: 100vh;
    background-size: cover;
    background-position: center center;
    overflow: auto;
}
.caption{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}
ul{
    list-style-type: none;
    background-color: blue;
   
}
ul li{
    padding: 20px;
    float: right;

}


/* RWD
xsm >600
600>sm >768
          768>md>992
      992> lg>1200
    xlg>1200
*/
@media screen and (max-width:700px)  {
    body{
       background-color: tomato; 
    }
    .meal{
        width: 100%;
        color: white;
    }
}

@media screen and (max-width:900px) and (min-width:700px)  {
    body{
       background-color: gray; 
    }
    .meal{
        width: 50%;
        color: white;
    }
}