@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    border: none;
    outline: none;
}


:root{
    --myblue:rgb(12, 36, 65);
}


body{
    max-width: 100svw;
     font-family: "Indie Flower", cursive;


     display: grid;
     grid-template-columns: 1fr 4fr;
     grid-template-rows: 70px 1fr 70px;

     grid-template-areas: 
     "header header"
     "aside main"
     "aside footer"
     ;
}


header{
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;
    background-color: var(--myblue);
    color: white;
}


nav ul{
    display: flex;
    gap: 10px;
}


ul li a{
    color: white;
}


aside{
    grid-area: aside;

    padding: 10px;
    background-color: rgb(61, 89, 124);
    color: white;

    border-radius: 0px 20px 0px 0px;
}


aside p{
    margin: 20px 0px;
}


aside ul li{
    margin: 10px 0px;
}


main{
    grid-area: main;
    padding: 10px;
}


.images-container{
    padding: 10px;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}



.images-container div{
    overflow: hidden;
    border-radius: 10px;

  
   
}



.images-container div:hover{
    box-shadow: 1px 1px 10px var(--myblue);
   
}





.images-container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   

    border-radius: 10px;

  
}



.images-container div img:hover{
    transform: scale(1.2) rotate(5deg);
}



footer{

    grid-area: footer;
    padding: 20px;
    background-color: var(--myblue);
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
   
    aside{
        display: none;
    }

    
    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;

    }}