*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


i{
    /* font-size: 40px;
    color: brown; */
}
/* .item{
    width: 300px;
    height: 300px;
    background-color: brown;
    transition: transform 1s;
} */
.item:hover{
/* transform: rotateY(180deg); */
/* transform: translate(100px,100px); */
/* transform: scaleY(.6); */
/* transform: skew(20deg); */
/* 
transform: rotate(45deg) translate(100px,100px)  scaleY(.6) skew(20deg)  ; */

}
body{
    background-color: rgb(200, 136, 136);
}
.items{
    /* background-color: #888; */
    width: 95%;
    margin: auto;
    margin: 20px;
}
.item{
    width: 25%;
    /* background-color: blue; */
    border: 5px solid white;
    position: relative;
   
  
}
.item img{
    width: 100%;
}

.caption{
    background-color: rgba(136, 136, 136,.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transform: translateY(100%);
     transition: transform 1s;
     opacity: 0;
     /* display: none; */
}

h2{
    padding: 15px;
    background-color: rgb(136, 136, 136);
}
.item:hover .caption{
    transform: translateY(0);
    opacity: 1;
    /* display: block; */
  
}