@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;

    border: none;
    outline: none;

    list-style-type: none;
    text-decoration: none;
}

:root{
    --myblue:rgb(61, 114, 205);
    --light-bg:#f8f9fa;
}

body{
    max-width: 100svw;
    height: 100svh;

    font-family: "Indie Flower", cursive;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    /* position: fixed;
    left: 0px;
    right: 0px;

    background-color: white; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
}

header nav ul{
    display: flex;
    gap: 10px;
}

ul li a{
    color: black;
}

.signin{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--myblue);

    background-color: var(--myblue);
    color: white;
}


.signup{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--myblue);

    background-color: white;
    color: var(--myblue);
}

.signup:hover{
    background-color: var(--myblue);
    color: #f8f9fa;
}


.about{
    display: flex;
    gap: 10px;

    justify-content: center;
    align-items: center;

    padding: 10px;

    height: 80%;
}

.about img{
    width: 40%;
}

.about-text{
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

li i{
    color: var(--myblue);
}

.info{
    display: flex;
    gap: 10px;
}

.data p{
    color: gray;
}

.pricing{
    height: 80%;
    padding: 10px;
    background-color: var(--light-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    border-radius: 20px;
}

.price-card{
    background-color: white;
    padding: 10px;

    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;


    box-shadow: 0px 0px 5px rgb(183, 212, 247);
    border-radius: 20px;
}

.price-card:hover{
    box-shadow: 0px 0px 10px rgb(183, 212, 247);
}

.price-card p{
    color: var(--myblue);
    font-size: 26px;
}


.start{
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid var(--myblue);

    background-color: var(--myblue);
    color: white;
}

/* .parent{
    background-color: gray;
    padding: 10px;

    height: 80svh;


    display: flex;
    flex-direction: row;
    gap: 10px 20px;
    justify-content: start;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
}

.parent div{
    padding: 10px;

    height: 100px;
    width: 100px;
}

.child1{
    background-color: rgb(239, 115, 115);

    flex-shrink:0;
    flex-grow:1; */
    /* flex-basis:200px;

    flex:1 0 200px;

} 

.child2{
    background-color: violet; 

    flex-grow: 2;
}

.child3{
    background-color: rgb(169, 200, 219);

    flex-grow: 1;
}

.child4{
    background-color: rgb(248, 248, 226);
    flex-grow: 1;

} */

/* position------------------------ */
/* 
1- static
2- relative
3- absolute
4- fixed
5- sticky
*/

.test{
    background-color: rgb(0, 0, 0);
    padding: 10px;


    position: relative;
}

.c1,.c2,.c3,.c4{
    padding: 10px;
    height: 100px;
    width: 100px;
}

.c1{
    background-color: lightpink;


    position: static;
    top:100px ;
    left: 10px;
}
.c2{
    background-color: lightseagreen;


    position: relative;
    left: 150px;
    top: 10px;
}
.c3{
    background-color: lightblue;


    /* position: absolute;
    left: 20px;
    top: 0px;

    z-index: 10; */


    /* position: fixed;
    top: 0px; */


    position: sticky;
    top: 30px;
}
.c4{
    background-color: lightcoral;

    /* position: absolute;
    top: 10px;
    left:30px;
    z-index:9; */


} 



/* ----------------------- */

.p{
    position: relative;
}
.p-img{
    height: 200px;
    width: 200px;
}

.layout{
   height: 200px;
   width: 200px;

   background-color: rgba(0, 0, 0, 0.703);

   position: absolute;
   top: 0px;


   color: white;
   text-align: center;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


/* pseudo classes:------------------- */

/* 
-> events-----------
1- :hover
2- :active
3- :focus
4- :visited

-> element ------------
*/

/* a:focus{
    color: yellowgreen;
}

a:visited{
    color: red;
} */


/* input{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

input:focus{
    outline:3px solid blue
} */



.pseudo li:first-child{
    background-color: lightblue;
    padding: 10px;
}

.pseudo li:last-child{
    background-color: lightcoral;
    padding: 10px;

}

.pseudo li:nth-child(4){
    background-color: lightgreen;
    padding: 10px;

}

.pseudo li:nth-child(odd){
    background-color: lightgray;
    padding: 10px;
}


.pseudo li:nth-child(even){
    background-color: lightseagreen;
    padding: 10px;
}
