
/* ? important topics in css 

? spacing (margin,padding)
? floating 
? positions ( abs -> Z يتحرك فالمطلق حسب اببوه اللي هو البادي وبقا معانا محور تالت اللي هو ال 
?                    



*/

/* * {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} */

/* section {
    padding: 100px 200px;
} */


/* .social-icons a {
    color: aliceblue;
    font-size: 1.7em;
    padding-right: 30px;
} */

.title {
    display: flex;
    justify-content: center;
    color: rgb(79, 79, 217);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

/* .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* .card {
    width: 21%;
    background-color: aliceblue;
    box-shadow: 15px 15px 50px rgba(1 1 1/ 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
} */

/* img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
} */

/* .mm-x {
    color: rgb(79, 79, 217);
    font-size: 8em;
    text-align: center;
} */

.content {
    display: block; 
    text-align: center; 
    font-size: 0; 
}

.card {
    box-shadow: 15px 15px 50px rgba(1 1 1/ 50%);
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    transition: 0.7s ease;
    /*? transition-timing-function: cubic-bezier(.09,.72,.97,.57); معلومة جديدة ومهمة */
}


.card .info img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    margin-bottom: 15px;
    
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 15px;
    line-height: 1.5;
}

.card:hover{
    transform: scale(1.1);
}

/* @media (max-width:1023px) {
    .section {
        padding: 80px 20px;
    }
}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
} */


.one{ 
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    position: absolute;
    top:100px ;
    left:100px ;
    z-index: 2;

}

.two{
    width: 300px;
    height: 300px;
    background-color: rgb(212, 22, 123);
    position: absolute;
    top:120px ;
    left:120px ;
    z-index: 1;
}

.three{
    width: 300px;
    height: 300px;
    background-color: rgb(72, 199, 30);
    position: absolute;
    top:140px ;
    left: 140px;
    z-index: 0;
}

/* ??????????????????? */


@media screen and(min-width:1200px){
    .card{
        width: 25%;
    }
}

@media screen and(min-width:1199px) and(min-width:920px) {
    .card{
        width: 30%;
    }
}

@media screen and(min-width:991px) and(min-width:768px){
    .card{
        width: 50%;
    }
}

@media screen and(min-width:767px) and(min-width:600px){
    .card{
        width: 100%;
    }
}

@media screen and(min-width:599px){
    .card{
        width: 100%;
    }
}