
body{
    font-family: "BBH Bogle", sans-serif;
}

h1 {
    text-align: center;
}

.my-hr {
    border: none;
    height: 5px;
    background-color: rgb(101, 101, 222);
}

.item{
    font-family: "BBH Bogle", sans-serif;
    background-color: rgb(101, 101, 222);
    width: 300px;
    height: 300px;
    /* background-color: purple; */
    border: 5px solid rgb(101, 101, 222);
    border-bottom-right-radius:  50%;
    border-top-left-radius:  50%;
}